.block
    flex: 0 0 auto


.nav
    display: flex
    align-items: center
    justify-content: center


.link
    padding: 10px 5px
    margin: 0 2.5px
    color: $base-color
    font-size: 1.143em
    flex: 1 1 0
    &:hover
        text-decoration: underline


.linkLogo
    order: 1
    margin: 0 2.5px

.linkAfter
    order: 2
    composes: link

.logo
    display: block
    width: 190px
    padding: 0 15px 15px
    margin-top: -130px
    background-color: $base-background-color
