.slogan
    grid-area: slogan
    font-size: 2em
    font-style: italic
    font-weight: 300
    line-height: 1
    opacity: 0.65
    transition: all 0.2s ease-out
    @media $max-768
        align-self: center
        font-size: 1.7em
    @media $max-540
        align-self: center
        font-size: 1.32em
