.header
    padding: 20px


.grid
    display: grid
    grid-template-areas: "logo slogan" "logo nav"
    grid-template-columns: auto 1fr
    grid-gap: 0 30px
    transition: all 0.2s ease-out
    @media $max-768
        grid-template-areas: "logo slogan" "nav nav"
        grid-gap: 0 20px
    @media $max-540
        grid-template-areas: "logo slogan nav"


.container
    composes: grid
    max-width: $max-width
    margin: 0 auto
