.logoContainer
    width: 190px
    margin-right: 30px


.link
    position: relative
    z-index: 1
    display: block
    margin: -15px 0 -75px
    border-radius: 5px
    box-shadow: 0 0px 15px 15px $base-background-color
    background: $base-background-color


.logo
    display: block
    width: 100%
