.content
    padding: 0 20px


.container
    composes: container from '../../styles/Common.sss'
    height: 100%
    &:before
        float: left
        width: 230px // logo width (with indent)
        height: 70px // empirical logo height
        content: ''
        @media $max-768
            display: none
